*.o
*.a
TESTS/*.sprng

check.csprng
check.fsprng
check_ptr.csprng
check_ptr.fsprng
check_sim.csprng
check_sim.fsprng
checksprng
gen0_lfg
gen0_lfg.data
gen1_lcg
gen1_lcg.data
gen2_lcg64
gen2_lcg64.data
gen3_cmrg
gen3_cmrg.data
gen4_mlfg
gen4_mlfg.data
gen5_pmlcg
gen5_pmlcg.data
timesprng
timingcsprng
timingfsprng
